@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Barlow+Condensed:wght@300&family=Poppins:wght@400;700&family=Quicksand:wght@300&family=Roboto+Condensed:wght@400;700&display=swap');

/* font-family: "Alkatra", cursive;
font-family: "Poppins", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Roboto Condensed", sans-serif; */

/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #231f23;
  --accent-color-dark: #4e6e81;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: #577592;
}

h1 {
  font-size: 3rem;
  font-family: "Alkatra", cursive;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  

}

.Invitation-Text {
  font-family: "Roboto", sans-serif;
  /* font-family: "Quicksand", sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  padding: 5px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
/* top banner */

.top-banner {
  background-image: url("./assets/asset\ 30.png");
  background-color: #96aab7;
  background-size: 300px;
}

.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

/* nav bar */

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 200px;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}

.nav-toggle {
  display: none;
}

/* header section */

header {
  padding: 50px var(--padding-inline-section) 0;
  padding-bottom: 30px;
}

.header-section {
  justify-content: center;
  gap: 50px;
}

.header-left {
  max-width: 40vw;
}

.header-left h1 {
  margin-top: 20px;
}

.get-started-btn {
  margin-top: 20px;
}
.header-right {
  text-align: center;
}
.header-right img {
  width: 60%;
  /* justify-content: center; */
  /* margin: auto; */
  /* padding-left: 3%; */
  border-radius: 20px;
}

.cta-section-container {
  flex-direction: column;
  gap: 30px;
  color: white;
  text-align: center;
}

.cta-section {
  padding: 120px var(--padding-inline-section) 80px;
  background-color: #183b54;
}

.cta-section-container p {
  color: white;
  margin-top: 20px;
}

/* footer */
hr {
  height: 2px;
  margin: auto;
  border: azure solid 1px;
}

footer {
  padding-block: 80px;
  background-color: #577592;
  background-image: url(./assets/footer-bg.jpg);
  background-repeat: no-repeat;
}

.link-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-container {
  align-items: flex-start;
  justify-content: space-between;
}

/* subfooter */

.subfooter {
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}

.subfooter-container {
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.bmelogo {
  height: 80px;
}
h4 {
  margin: auto;
}

.bday-icons {
  width: 40px;

  text-align: center;
}
